body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: url(/img/imagen\ login.jpeg) no-repeat;
    background-position: center;
    background-size: cover;

}

.contenedor-login {
    width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: transparent;
    backdrop-filter: blur(4px);
    border: 1px solid #646464;
    border-radius: 20px;
}

.contenedor-login h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #000000
}

.campo {
    margin-bottom: 20px;
}

.campo label {
    display: block;
    margin-bottom: 10px;
}

.campo input[type="text"], .campo input[type="password"] {
    width: 95%;
    height: 40px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: transparent;
    border-radius: 5px;
}

.boton {
    width: 100%;
    height: 40px;
    background-color: #013d69;
    color: #ffffff;
    padding: 10px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    cursor: pointer;
}

.boton:hover {
    background-color: #285372;
}

@media (max-width: 768px) {
    .contenedor-login {
    width: 90%;
    margin: 20px auto;
    }
}

@media (max-width: 480px) {
    .contenedor-login {
    width: 100%;
    margin: 10px auto;
    padding: 10px;
    }
}
#usuario::placeholder{
    color: hsl(0, 0%, 100%);
}
#contraseña::placeholder{
    color: rgb(255, 255, 255);
}

.campo label, .campo label {
    color: hsl(0, 0%, 100%);
}

