.contenedor_loginG{
    display: none;                      /* al actualizar la pagina esconde el formulario*/
    position: fixed;                    /*se mantendrá en su lugar incluso si se hace scroll.*/
    right: 35%;                         /*desplazado un % desde el borde derecho de la ventana.*/
    top: 30%;                           /*desplazado un % desde el borde superior de la ventana.*/
    width: 30%;
    aspect-ratio: 1.8;
    text-align: center;
    text-justify: distribute;
    /*margin-right: 2%;*/
    background-color: #285372;
    backdrop-filter: blur(10px);
    border: 1px solid #646464;
    border-radius: 20px;
}
h2{
    color: white;
}

#formulario1{
    display: flex;
    position: relative;
    flex-direction: column; 
    height: 100%;
    width: 100%;
    padding: 2%;
    justify-content: space-around;
}

.contenedor-login {
    text-align: center;
    margin-bottom: 20px;
    color: #000000
}

.campo {
    margin-bottom: 20px;
}

.campo label {
    display: block;
    margin-bottom: 10px;
}

.campo input[type="text"], .campo input[type="password"] {
    width: 95%;
    height: 40px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: transparent;
    border-radius: 5px;
}

.boton {
    width: 30%;
    height: 50px;
    background-color: #013d69;
    color: #ffffff;
    text-align: auto;
    padding: 10px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    cursor: pointer;
}

.boton:hover {
    background-color: #285372;
}

@media (max-width: 768px) {
    .contenerodor_loginG {
    width: 90%;
    margin: 20px auto;
    }
}

@media (max-width: 480px) {
    .contenerodor_loginG {
    width: 100%;
    margin: 10px auto;
    padding: 10px;
    }
}
#usuario::placeholder{
    color: hsl(0, 0%, 100%);
}
#contraseña::placeholder{
    color: rgb(255, 255, 255);
}

.campo label, .campo label {
    color: hsl(0, 0%, 100%);
}

#cerrar,#cerrarL{
    position: absolute;             /*estarán posicionados de manera absoluta dentro de su contenedor.*/
    width:7%;                       /*anchura será del 7% del contenedor.*/
    aspect-ratio:1;
    right:2%;
    top:3%;
}