/* #login_inic {
    height:2vw;
    width: 8vw;
    color:white;
    text-align: center;
    text-justify: distribute;
    margin-right: 2%;
} */

/*Estilos para el formulario de registro*/
.login_form{
    display: none;
    position: fixed;
    right: 40%;
    top:40%;
    width: 30%;
    aspect-ratio: 1.8;
    border: solid black 1px;
    border-radius: 10px;
    background-color: #7dcea0 ;
}

#formulario, #formulario1{
    display: flex;
    position: relative;
    flex-direction: column; 
    height: 100%;
    width: 100%;
    padding: 2%;
    justify-content: space-around;

}
.sign_up_display{
    position: absolute;
    left: 50%;
    top:50%;
    width: 30%;
    aspect-ratio: 1.5;
}
.input_sign{
    height: 14%;
    border-radius: 5px;
    font-size: 20px;
    
}
#cerrar,#cerrarL{
    position: absolute;
    width:7%;
    aspect-ratio:1;
    right:2%;
    top:3%;
}
#Bienvenida{
    font-style: italic;
    position: fixed;
    top:2%;
    right:2%;
}

#titulo_carrusel{
    background-color: #7dcea0;
}