h2{
    font-weight: 10;
    font-size: 10vw;
    line-height: 10vw;
    font-feature-settings: 'wght'10,'wdth'85;
}

h2.char{
    --delay: calc((var(--char-index)+1)*400ms);
    animation: breathe 4000ms infinite both;
    animation-delay: var(--delay);
}

h2:hover span {
    animation-play-state: paused;
}

@keyframes breathe {
	0% {
		font-variation-settings: 'wght' 100, 'wdth' 85;
		font-size: 10vw;
	}
	60% {
		font-variation-settings: 'wght' 700, 'wdth' 100;
		font-size: 11vw;
	}
	
	100% {
		font-variation-settings: 'wght' 100, 'wdth' 85;
		font-size: 10vw;
	}
}